body {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 40px;
    text-align: center;
    color: 7CB9E8;
    background: #171717;
}

button {
    background-color: #4285F4;
    color: white;
    padding: 20px;
    font-size: 40px;
    border-radius: 8px;
    border-style: none;
    width: fit-content;
    align-self: center;
}

button:active {
    background-color: #3971CC;
}

input {
    padding: 10px;
    font-size: 20px;
    background-color: 336CDE;
    text-align: center;;
    align-self: center;
}

::placeholder {
    font-weight: 600;
    font-style: italic;
    color: white;
}

#results {
    border: solid blue 1px;
    border-radius: 8px;
    width: fit-content;
    align-self: center;
    padding: 20px;
    font-size: 40px;
    color: white;
}