body {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 40px;
    text-align: center;
}

button {
    background-color: #4285F4;
    color: white;
    padding: 20px;
    font-size: 40px;
    border-radius: 8px;
    border-style: none;
    width: fit-content;
    align-self: center;
}

button:active {
    background-color: #3971CC;
}

#results {
    border: solid black 1px;
    border-radius: 8px;
    width: fit-content;
    align-self: center;
    padding: 20px;
    font-size: 40px;
}